<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>appName</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--Stylesheets-->
  <link rel="stylesheet" href="styles/main.css" type="text/css">
  <!--Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <!--<script type="text/javascript" src="vendor/angular.min.js"></script>-->
  <script type="text/javascript" src="js/evt_handler.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-app="myModule">
<div class="container">
  <h1>Angular Event handlers</h1>

  <div class="" ng-controller="myCtrl">
    <!-- ##-= Technology =-## -->
    <!--<table class="table table-hover">-->
    	<!--<thead>-->
    		<!--<tr>-->
    			<!--<th>Name:</th>-->
    			<!--<th>Likes:</th>-->
    			<!--<th>Dislikes:</th>-->
    			<!--<th>Like/Dislikes</th>-->
    		<!--</tr>-->
    	<!--</thead>-->
    	<!--<tbody>-->
    		<!--<tr ng-repeat="technology in technologies">-->
          <!--<td>{{ technology.name }}</td>-->
          <!--<td>{{ technology.likes }}</td>-->
          <!--<td>{{ technology.dislikes }}</td>-->
          <!--<td>-->
            <!--<input type="button" value="likes" class="btn btn-success btn-sm" ng-click="incrementLikes(technology)">-->
            <!--<input type="button" value="dislikes" class="btn btn-danger btn-sm" ng-click="incrementDislikes(technology)">-->
            <!--&lt;!&ndash; ##-= (technology) is called from tech in techies =-## &ndash;&gt;-->
          <!--</td>-->

    		<!--</tr>-->
    	<!--</tbody>-->
    <!--</table>-->
  <!--</div>-->

  <h3>Filters</h3>

  <div class="" ng-controller="filterCtrl">
    <div class="col-lg-3">
      <div class="form-group">
        <!--<label for="number">Change rows to display</label>-->
        <!--<input type="number" class="form-control" step="1" min="0" max="5" ng-model="rowLimit">-->

        <!--<label for="number">Order by attribute</label>-->
        <!--<input type="number" class="form-control" step="1" min="0" max="5" ng-model="rowLimit">-->
        <!--<input type="number" class="form-control" step="1" min="0" max="5" ng-model="rowLimit">-->

        <label for="number">Search Stodds</label>
        <input type="number" class="form-control" step="1" min="0" max="5" ng-model="rowLimit">


        <div class="form-group">
          <label for="sel1">Order by:</label>
            <select name="sortColumn" id="sel1" ng-model="sortColumn">
              <option value="name">Name ASC</option>
              <option value="gender">Gender ASC</option>
              <option value="dateOfBirth">Date of birth ASC</option>
              <option value="salary">Salary ASC</option>
          </select>
        </div>
      </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Salary</th>
          </tr>
      </thead>
      <tbody>
        <!--&lt;!&ndash; ##-= limitTo (number) =-## &ndash;&gt;-->
        <!--<tr ng-repeat="stodd in stodds | limitTo:rowLimit ">-->
          <!--<td>{{ stodd.name | uppercase }}</td>-->
          <!--<td>{{ stodd.dateOfBirth | date:'dd/MM/yyyy' }}</td>-->
          <!--<td>{{ stodd.gender | lowercase }}</td>-->
          <!--<td>{{ stodd.salary | currency }}</td>-->
        <!--</tr>-->

        <!--&lt;!&ndash; ##-= orderBy =-## &ndash;&gt;-->
        <!--<tr ng-repeat="stodd in stodds | orderBy: '-salary'">-->
          <!--<td>{{ stodd.name | uppercase }}</td>-->
          <!--<td>{{ stodd.dateOfBirth | date:'dd/MM/yyyy' }}</td>-->
          <!--<td>{{ stodd.gender | lowercase }}</td>-->
          <!--<td>{{ stodd.salary | currency }}</td>-->
        <!--</tr>-->

        <!-- ##-= orderBy sortColumn=-## -->
        <tr ng-repeat=" stodd in stodds | orderBy:sortColumn ">
          <td>{{ stodd.name | uppercase }}</td>
          <td>{{ stodd.dateOfBirth | date:'dd/MM/yyyy' }}</td>
          <td>{{ stodd.gender | lowercase }}</td>
          <td>{{ stodd.salary | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>







</div> <!-- ## CONTAINER END ## -->
</body>
</html>
