<!DOCTYPE html>
<html lang="en" ng-app="pracApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>appName</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Stylesheets-->
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!--<script type="text/javascript" src="vendor/angular.min.js"></script>-->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
    <h1>Angular practice application</h1>

  <div ng-controller="myCtrl">
    <!--First name: {{ employee.firstName }} <br>-->
    <!--last name: {{ employee.lastName }} <br>-->
    <!--gender: {{ employee.gender }} <br>-->
    <div>
      Name: {{ country.name }}
    </div>
    <div>
      Capital: {{ country.capital }}
    </div>
    <div>
      image: <br>
      <img ng-src="{{ country.image }}" alt="{{ country.name + Flag }}" class="img-thumbnail">
    </div>
  </div>
    <br>

    <!-- ##-= two way ctrl =-## -->
  <div class="twoWay" ng-controller="twoWayCtrl">
    <input type="text" ng-model="message">
    {{ message }}
  </div>
    <br>


    <div class="col-lg-3">
      <form action="" method="post" role="form" ng-controller="employeeCtrl">
        <legend>Employee name form</legend>

        <div class="form-group">
          <label for="">First name:</label><br> <input type="text" class="form-control" ng-model="employee.fName">
        </div>
        <div class="form-group">
          <label for="">Last name:</label><br> <input type="text" class="form-control" ng-model="employee.lName">
        </div>
        <div class="form-group">
          <label for="">Gender:</label><br> <input type="text" class="form-control" ng-model="employee.gender">
        </div>

        <div class="form-group">
          <label for="">First name:</label><br> {{ employee.fName }}
        </div>
        <div class="form-group">
          <label for="">Last name:</label><br> {{ employee.lName }}
        </div>
        <div class="form-group">
          <label for="">Gender:</label><br> {{ employee.gender }}
        </div>
      </form>
    </div>








  </div> <!-- ## CONTAINER END ## -->
  </body>
</html>
